extends baseEmail

block content
    p Recientemente cambiaste la contraseña de tu cuenta de DailyMoneey. 
    p Si no realizó este cambio, por favor comuniquese con el soporte de DailyMoneey enviando un email a dailymoneey@gmail.com