footer.footer
    .footer__logo
        a(href='/')
            //- img(src='/img/logo.png' class='trading-candles_logo')
            //- img(src='/img/logo.png')
            //- p.logoDailymoneey DM
    ul.footer__nav
        li: a(href='#') Sobre Nosotros
        li: a(href='#') Descarga la app (proximamente)
        li: a(href='#') Contactenos
    p.footer__copyright &copy; CSS. Todos los derechos reservados